/* Slides which shows school images */
#slides {
    padding: 0px;
    margin-top: 15px;
}

#slides img {
    height: 350px;
    object-fit: cover;
}

div.carousel-caption {
    left: 0%;
    right: 0%;
    width: 100%;
    top: 18rem;
    text-align: right;
    margin-right: 20px;
    padding-right: 10px;
}

.carousel-inner {
    border-radius: 5px;
}

#slides h3 {
    background-color: var(--primary);
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
}

/* About School Section */

#about-school img {
    height: 100%;
    object-fit: cover;
}

/* Events */

#events img {
    object-fit: cover;
    height: 15rem;
}

/* Contact Us */

#contact-form {
    background-color: var(--gray);
}

#contact-form img {
    height: 480px;
    background-size: cover;
    width: 406px;
    object-fit: cover;
}

/* Extras */
.badge {
    font-size: 1rem;
    color: white;
    background-color: var(--primary);
    display: inline;
    padding: 5px;
    border-radius: 3px;
    font-family: monospace;
}

.button {
    background-color: var(--primary);
    border: none;
    color: var(--gray);
    padding: 10px;
    text-decoration: none;
}

.button:focus,
.button:hover {
    color: white;
}


/** Media */

@media (max-width: 575.98px) {
    #slides {
        padding: 10px;
    }

    #slides h3 {
        font-size: 1rem;
    }

    div.carousel-caption {
        left: 0%;
        right: 0%;
        width: 100%;
        top: 18rem;
        text-align: center;
        margin-right: 20px;
        padding-right: 10px;
    }

    #slides.container {
        max-width: 100%;
        padding: 0px;
        margin: 0px
    }

    .carousel-inner {
        border-radius: unset;
    }
}